---
import { marked } from 'marked';
import Layout from '../layouts/Layout.astro';
import { ArticleFetcher } from '../libs/article_fetcher';

const before = Astro.url.searchParams.get('before');
const after = Astro.url.searchParams.get('after');

const fetcher = new ArticleFetcher();

const articlesPage = await fetcher.fetchMultiple(before, after);
const articles = articlesPage.nodes;
const pageInfo = articlesPage.pageInfo;

---

<Layout title="けんちゃんくんさんのWeb日記">
  {articles.map((article) =>(
    <>
      <article class="m-5 p-5 h-96 border rounded border-gray-200 shadow overflow-hidden">
        <a href={"/" + encodeURI(article.title)}>
          <h1 class="text-2xl mb-4 font-bold">{article.title}</h1>
        </a>
        <div set:html={marked.parse(article.body)}></div>
      </article>
    </>
  ))}

  <div class="pager mb-10 p-5">
    {pageInfo.hasPreviousPage && <a href={"/?before=" + pageInfo.startCursor}>新しい記事へ</a>}
    {pageInfo.hasNextPage && <a class="float-right" href={"/?after=" + pageInfo.endCursor}>古い記事へ</a>}
  </div>
</Layout>

<style is:global>
  article {
    @apply text-gray-600;
  }

  article h2 {
    @apply text-2xl border-b-2 text-gray-700 mt-5;
  }

  article h3 {
    @apply text-xl text-gray-700
  }

  article p {
    @apply mt-4 mb-4;
  }

  article a {
    @apply underline;
    @apply text-blue-800;
    @apply break-words break-all;
  }

  article ul {
    @apply list-disc list-inside ml-4;
  }

  article ol {
    @apply list-decimal list-inside ml-4;
  }

  article pre > code {
    @apply block bg-gray-100 p-4 rounded-xl overflow-x-auto;
  }
</style>

<style>
  .pager a {
    @apply underline;
    @apply text-blue-800;
  }
</style>

