---
import { marked } from 'marked';

const response = await fetch("https://diary.shu-cream.net/graphql",
  {
    method: 'POST',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({
      query: `
        query {
          articles(first: 12) {
            nodes {
              title
              body
            }
          }
        }
      `
    })
  }
)

const json = await response.json();
const articles: Article[] = json.data.articles.nodes;
---

<div class="grid lg:grid-cols-3">
  {articles.map((article) =>(
    <>
      <div class="m-5 p-5 h-96 border rounded border-gray-200 shadow overflow-hidden">
        <h1>{article.title}</h1>
        <p set:html={marked.parse(article.body)}></p>
      </div>
    </>
  ))}
</div>

