---
export interface Props {
	title: string;
	slug: string;
	imageUrl: string;
}

const { title, slug, imageUrl  } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="./rss.xml" />
		<script src="https://kit.fontawesome.com/c44b5a19b3.js" crossorigin="anonymous"></script>

		<title>{title}</title>

		<meta property="og:title" content={title} >
		<meta property="og:type" content="article" >
		<meta property="og:url" content={"https://diary.shu-cream.net/" + slug} >
		<meta property="og:image" content={imageUrl} >

		<script type="text/javascript" src="https://s.hatena.ne.jp/js/HatenaStar.js"></script>
		<script type="text/javascript">
			Hatena.Star.SiteConfig = {
				entryNodes: {
					'article': {
						uri: 'h1 a',
						title: 'h1',
						container: 'div.hatenaStar'
					}
				}
			};
		</script>
	</head>
	<body class="flex flex-col items-center bg-gray-200">
		<header class="h-10 w-full bg-green-900 shadow">
			<div class="pl-6 h-10 leading-10 text-xl text-gray-200 ">
				<a href="/">
					けんちゃんくんさんのWeb日記
				</a>
			</div>
		</header>
		<div class="max-w-full sm:max-w-3xl">
			<slot />
		</div>
		<footer class="w-full mt-3 mb-10 text-center justify-center flex flex-wrap grid-cols-3 text-gray-600">
			<div class="w-20">
				<a href="https://ruby.social/@kenchan">
					<span class="fa-xl fa-brands fa-mastodon">Mastodon</span>
				</a>
			</div>
			<div class="w-20">
				<a href="https://twitter.com/kenchan">
					<span class="fa-xl fa-brands fa-twitter">Twitter</span>
				</a>
			</div>
			<div class="w-20">
				<a href="https://github.com/kenchan">
					<span class="fa-xl fa-brands fa-github">GitHub</span>
				</a>
			</div>
			<div class="w-full mt-5">
				<a href="/">diary.shu-cream.net</a>
			</div>
		</footer>
	</body>
</html>

<style>
	a {
		@apply no-underline;
	}
</style>
